.galeri{
    color: var(--white);
    text-align: center;
}

.galeri h3{
    margin-bottom: 50px;
}

.galeri .content{
    margin: 0 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4,1fr);
}

@media screen and (max-width:900px){
    .galeri .content{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width:600px){
    .galeri .content{
        grid-template-columns: 1fr;
    }
}

.column{
    display: flexbox;
}

.galeri .content .row .column img{
    padding: 5px 0 0;
    width: 100%;
    border-radius: 10px;
}