.waktu{
    text-align: center;

    background-image: url('https://images.unsplash.com/photo-1520854221256-17451cc331bf?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80'), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.waktu .content{
    padding: 50px 0;
    color: var(--white);
}

.ucapan .content{
    line-height: 2;
    padding-top: 50px;
    text-align: center;
    width: 80%;
    max-width: 600px;
    margin: 0px auto;
}

.ucapan .content img{
    width: 50%;
}

.ucapan hr{
    border-top: 1px solid var(--dark);
    width: 50%;
}


.maps{
    margin-top: 50px;
    padding-bottom: 50px;
}

.maps img{
    width: 200px;
}

.maps .box-content .content{
    padding: 30px 20px;
    text-align: center;
}

.maps .box-content .content iframe{
    width: 100%;
    height: 300px;
    max-width: 500px;

    margin-top: 30px;
    margin-bottom: 30px;

    border: none;
    border-radius: 20px;
}

.maps .box-content .content button{
    background-color: transparent;
    border: 1px solid var(--dark);
    border-radius: 50px;
    color: var(--dark);
    padding: 5px 10px;
    text-transform: capitalize;
    
    transition: 0.3s
}

.maps .box-content .content button:hover{
    background-color: var(--dark);
    letter-spacing: 2px;
    color: var(--white);
}

.maps h3{
    font-family: var(--bodyfont);
}